/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
-webkit-font-smoothing: antialiased;
}

/* iameirik.com
*/

p{
	font-size: 1.25em;
	color: #667;
	line-height: 1.5em;
}

b{
	font-weight: 600;
}

body{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h2{
	font-size: 2.25em;
	color: #fff;
	margin-bottom: 0.5em;
	margin-top: 0.125em;
	line-height: normal;
}


h3{
	font-size: 2.25em;
	color: #50D0E3;
	margin-bottom: 1em;
}

/*p{
	--x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}*/

.gradient{
	 background-image: -webkit-linear-gradient(0deg,#1CDEAF 0%, #277EF2 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}



.line-divider{
    height: 2px;
    margin: 30px auto 0;
    width: 120px;	
	background-image: -webkit-linear-gradient(left, #1de9b6, #2979ff);
    background-image: linear-gradient(to right, #1de9b6, #2979ff)
   	background-image: -webkit-linear-gradient(0deg,#1CDEAF 0%, #277EF2 75%);
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}

.button{
    font-size: 1em;
    line-height: 1.375;
    padding: 0.5em 1em;
    color: #22BCD3;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    -webkit-animation: hue 60s infinite linear;
    text-decoration: none;
    border-radius: 39px;
    -webkit-font-smoothing: auto;
}

@-webkit-keyframes hue {
  	0%{-webkit-filter: hue-rotate(0deg);}
  	50%{-webkit-filter: hue-rotate(80deg);}
	100%{-webkit-filter: hue-rotate(0deg);}
}

img{
	max-width: 100%;
	height: auto;
}

.white{
	color: #fff;
}

#header{
	height: 43.75em;
	background: url("img/headerbg.jpg") no-repeat center center;
	background-color: #3F3F3F;
	color: #fff;
	padding: 0 1em;
}

section{
	min-height: 37.5em;
}

.article{
	max-width: 45em;
}

.caption{
	line-height: 1em;
	font-size: 0.75em;
}

.iameirik{
	max-width: 100%;
}

#schibsted header{
	background: #000;
	background-image: url("img/schibstedbg2.jpg");
    background-size: auto 37.5em;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: 37.5em;
}

.center{
	text-align: center;
}

#norsk-tipping header{
	background-image: url("img/ntbg.jpg");
    background-size: auto 37.5em;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    width: auto;
    height: 37.5em;
}


#volda header{
	background: #000;
	background-image: url("img/volda.jpg");
    background-size: auto 37.5em;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    width: auto;
    height: 37.5em;
}

.overlay {
  background-color: rgba(25,29,34,.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/*

from Invision

.home .hero.video-loaded:before, .home2 .hero.video-loaded:before, .home3 .hero.video-loaded:before {
    background: rgba(25,29,34,.75); 
}

.home .hero:after, .home .hero:before, .home2 .hero:after, .home2 .hero:before, .home3 .hero:after, .home3 .hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(25,29,34,.75); 
}

.hero.video-loaded:before {
    background: rgba(25,29,34,.9) !important;
}

*/


/* RESPONSIVE GRID */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1-2, .col-1-4, .col-1-8 { width: 100%; }

[class*='col-'] {
  float: left;

}

.fillingimg{
	width: 100%;
	height: auto;
}

.grid-pad {
  padding: 2em 2em;
}

@media only screen and (min-width: 800px) {

	.col-12-of-12 {
		width: 100%;
	}

	.col-11-of-12 {
	  	width: 91.53%;
	}
	.col-10-of-12 {
	  	width: 83.06%;
	}

	.col-9-of-12 {
	  	width: 74.6%;
	}

	.col-8-of-12 {
	  	width: 66.13%;
	}

	.col-7-of-12 {
	  	width: 57.66%;
	}

	.col-6-of-12 {
	  	width: 49.2%;
	}

	.col-5-of-12 {
	  	width: 40.73%;
	}

	.col-4-of-12 {
	  	width: 32.26%;
	}

	.col-3-of-12 {
	  	width: 23.8%;
	}

	.col-2-of-12 {
	  	width: 15.33%;
	}

	.col-1-of-12 {
	  	width: 6.866%;
	}

	.grid-pad {
	  padding: 8%;
	  text-align: left;
	}
}




.grid:after {
  content: "";
  display: table;
  clear: both;
}


[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}


.schibsted-div{
	padding: 6.25em 1em 0 1em; 
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

.scroll-arrow{
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    z-index: 10;
    height: 30px;
    text-align: center;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-image: url("img/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: center top;
}

.scroll-arrow:hover{
	background-image: none;

}


.scroll-arrow::before {
    text-align: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}


.scroll-arrow span{
	display: none;
}

.scroll-arrow:hover span{
	display: block;
	font-size: 0.75em;
	letter-spacing: 2px;
}

.scroll-arrow{
	text-shadow: 0px 0px 3px rgba(0,0,0,.2);
}


